@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
}
.sidepannel{
    display: grid;
    background-color: #2b2a33;
    align-items: center;
}
button{
    padding: 13px;
    border: none;
    background-color: #25d366;
}
.mainpannel{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
}
.card{
    width: 300px;
    margin: 12px;
    height: 270px;
    background-color: white;
    box-shadow: 0px 4px 8px;
    border-top: 10px solid rgb(255, 255, 0);
}

::backdrop {
    background-color: #2b2a33;
    opacity: 0.75;
  }
  
dialog{
    position: relative;
    left: 60vh;
    top: 30vh;
    height: 400px;

}
dialog>img{
    cursor: pointer;
}

.form{
    height: 250px;
    width: 540px;
    position: relative;
    left: 30px;
}
.add{
    align-items: center;

}
.libarySidebar{
    display: flex;
    color: white;
    flex-direction: column;
}
.addBook {
    color: #fcfbfb;
    border-radius: 15px;
    width: 200px;
    background-color: #99a1af;
    align-items: center;
    position: relative;
    left: 3vh;
    top: -100px;
}
h3{
    color: gray ;
    
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.card .checkbutton{
     display: flex;
     width: 150px;
}
.remove{
    background-color: gray;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

    color: white;
}
button:hover{
    background-color: gray;
    color: white;
}